.searchResultContainer {
	display: flex;
	flex-wrap: wrap;
	// background-color: green;
	.resultList {
		display: flex;
		width: 320px;
		padding: 0.5rem;
		// background-color: red;
	}
	img {
		height: 100px;
		max-width: 70px;
		margin-right: 1rem;
	}
	.infoContainer {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	h2 {
		font-size: 1.8rem;
		margin-bottom: 0.5rem;
	}
	p {
		font-size: 1.8rem;
	}
}
