.searchBox {
	width: 100%;
	padding: 1rem 0.5rem;
	display: flex;
	flex-direction: column;

	input {
		border: none;
		font-size: 1.8rem;
		line-height: 2.4rem;
		width: 100%;
		margin-right: 1rem;
		background-color: rgb(246, 246, 246);
		height: 3rem;
	}

	em {
		user-select: none;
		font-size: 1.4rem;
		margin-top: 0.5rem;
		padding-top: 0.5rem;
		border-top: 1px solid lightgray;
	}
}
