header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	background-color: rgb(241, 238, 232);
	user-select: none;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1000px;
		min-width: 350px;
	}
	.logo {
		font-size: 4rem;
		color: rgb(4, 80, 8);
	}
	.hover {
		// idea from from codepen https://codepen.io/mxttsco/pen/KgodYm
		transition: all 0.2s ease-in-out;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 0rem;
			width: 0px;
			height: 0.75rem;
			margin: 5rem 0 0;
			transition: all 0.2s ease-in-out;
			transition-duration: 0.2s;
			opacity: 0;
			background-color: darken($medium, 5%);
			left: 0;
		}
	}
	.logoContainer {
		justify-self: start;
		&:hover {
			.hover {
				&:before,
				&:after {
					width: 100%;
					opacity: 0.5;
				}
			}
		}
	}
}
