header {
	// background-color: $dark;
	width: 100%;
	// min-height: 8rem;
	// display: grid;
	// place-items: center;
	// padding: 0rem 0;
	// position: fixed;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	background-color: rgb(255, 235, 224);

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1000px;
		min-width: 350px;
		// display: grid;
		// grid-template-columns: 1fr 3fr 1fr;
		// place-items: center;
		// max-width: $width-desk;
	}
	.logo {
		// @include font-logo;
		font-size: 4rem;
		// width: 9rem;
		// justify-self: start;
		// background-clip: text;
		// background: -webkit-gradient(
		// 	linear,
		// 	left top,
		// 	right top,
		// 	from(rgb(116, 106, 246)),
		// 	to($medium)
		// );
		// background: linear-gradient(to right, rgb(255, 255, 255) 0%, $medium 100%);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		// width: -webkit-fit-content;
		// width: fit-content;
		// width: -moz-fit-content;
	}
	.hover {
		// idea from from codepen https://codepen.io/mxttsco/pen/KgodYm
		transition: all 0.2s ease-in-out;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: 0rem;
			width: 0px;
			height: 0.75rem;
			margin: 5rem 0 0;
			transition: all 0.2s ease-in-out;
			transition-duration: 0.2s;
			opacity: 0;
			background-color: darken($medium, 5%);
			left: 0;
		}
	}
	.logoContainer {
		justify-self: start;
		&:hover {
			.hover {
				&:before,
				&:after {
					width: 100%;
					opacity: 0.5;
				}
			}
		}
	}
}
