* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	font-family: $primary-font, sans-serif;
}
html {
	font-size: 10px;
}
a {
	display: block;
	text-decoration: none;
}
ul {
	list-style-type: none;
}
// removes default browser basic form element border
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button {
	cursor: pointer;
	height: 25px;
	width: 100px;
	background-color: gold;
	border-radius: 5px;
	border: 1px solid black;
	&:hover {
		position: relative;
		bottom: 2px;
		box-shadow: 5px 5px 0px 0px #ebebeb;
		font-weight: bold;
	}
	&:disabled {
		cursor: default;
		background-color: lightyellow;
		color: grey;
	}
	&:disabled:hover {
		bottom: 0px;
		box-shadow: none;
		font-weight: 400;
	}
}
