.nominations {
	h2 {
		font-size: 2.4rem;
		user-select: none;
	}
	.nominationContainer {
		overflow: hidden;
	}
	.item {
		width: 100%;
		display: grid;
		grid-template-columns: 2.4rem 1fr 5rem 10rem;
		padding-top: 1rem;
		margin-top: 1rem;
		border-top: 1px solid lightgray;
		font-size: 1.4rem;
	}
	h3 {
		text-overflow: ellipsis;
	}
	.emptyListMessage {
		font-size: 1.8rem;
		margin-top: 1rem;
		margin-left: 2rem;
		display: block;
	}
}
