.banner {
	background-color: #000000;
	color: white;

	.banner_heading {
		font-size: 2.4rem;
		width: 100%;
		text-align: center;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 1px solid rgb(77, 76, 76);
	}

	.slideshow_item {
		display: flex;
		margin-right: 4rem;
		padding: 1rem;
	}
	img {
		height: 100%;
	}
	.infoContainer {
		width: 12rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 1rem;
		h2 {
			font-size: 2.4rem;
			// tip from https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css
			-webkit-line-clamp: 5;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
		}
		p {
			font-size: 1.8rem;
		}
	}

	// animation implementation from https://stackoverflow.com/questions/62092177/infinite-sideways-scroll-animation-of-images
	.slideshow_container {
		height: 200px;
		margin: 0 auto;
		position: relative;
		transform: translate3d(0, 0, 0);
		display: flex;
		width: 100%;
		overflow: hidden;
	}

	.slideshow_list {
		height: 100%;
		transform: translate3d(0, 0, 0);
		display: flex;
		animation: moveSlideshow 10s linear infinite;
	}

	.slideshow_container:hover .slideshow_list {
		animation-play-state: paused;
	}

	@keyframes moveSlideshow {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}
}

// banner animation
.banner--enter {
	width: 0;
	opacity: 0;
}
.banner--enter-active {
	width: 100%;
	opacity: 1;
	transition: all 0.8s cubic-bezier(0.34, 0.9, 0.64, 1);
}
.banner--enter-done {
}
.banner--exit {
	width: 100%;
	opacity: 1;
}
.banner--exit-active {
	width: 0;
	opacity: 0;
	transition: all 0.5s;
}
.banner--exit-done {
}
